 /* Global Layout Set-up */
* {
  box-sizing: border-box;
   max-width: 1600px;
    margin: 0 auto;
}

body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
  background: #ecc363;
 

}

/* Link Styles */

a {
  text-decoration: none;
}

/*************

HOME PAGE
***************/



/*  Main Nav */


.main-nav {
  width: 100%;
  background: #ecc363;
 /* background: #f0f8ff;*/
  position: fixed;
  text-align: center;
  margin-top: -230px;
 /* border-bottom: 1px solid white;*/
  z-index: 1;
  height: 200px;
  /*transition: 1s;*/

}

.main-nav:hover{
  background-color: #ffe4b5;
}



.main-nav:hover {
  border-bottom: 5px solid orange;
}

.nav li {
  list-style: none;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 5px;

}

.nav li a{
  padding: 10px 10px 10px 10px;
  border: 1px grey solid;
  border-radius: 10px;
  margin-bottom: 30px;
  list-style: none;
}

.nav li a:hover {
  background-color: #e6e6fa;
}

.nav a {
  color: black; 
  font-weight: bold;
}

.nav a:hover {
  color: #FFA500;
}

/* Card */

.card {
  background-color: #ecc363;
  color: black;
  padding: 20px 60px;
  max-width: 1050px;
}

/******************** 

HEADER
**********************/

.header {
  text-align: center;
  background-image: url('../img/main_profile.jpg');
  background-size: cover;
  background-repeat:  no-repeat; 
  background-position: center;
  overflow: hidden;
  height: 300px;
   max-width: 960px;
  margin-top: 230px;
  border-radius: 10px;
  border-bottom: 1px solid green;
 /* transition: 4s;*/
   box-shadow: 0 0 8px 10px white inset; 
/*  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/
}

.profile_img {
  border-radius: 100%;
   width: 130px;
  height: 130px;
  margin-top: 100px;
  border: 2px solid white;
  opacity: 1;
  transition: .5s;

}

  .profile_img:hover {
    transform: scale(1.2, 1.2);
    border: .05px solid orange;
  }

/*************

GALLERY 

*****************/

.construction {
  color: brown;
}
.under {
  padding-top: 50px;
}

.header2 {
  text-align: center;
  overflow: hidden;
  background-color: grey;
  height: auto;
  margin-top: 230px;
   /*background-color: rgba(0, 0, 0, 0.1);*/
}


.header3 p{
  padding: 20px;
}


.nature {
  margin-left: 40px;
  color: #696969;
  font-family: 'kalam', sans-serif; 
}

.gallery {
  max-width: 100%;
  margin-top: 20px;
}


img:hover {
transform:skewY(1.5deg);

}

.lightbox  {
  list-style: none;
  max-width: 980px;
  padding: 10px;
  margin: 10px auto;

  
}

 .lightbox img {
    transition: transform .5s;
    width: 70%;
    height: 70%;
    border: 3px solid white;
    transition-property: box-shadow;
    transition-duration:  .4s;
    margin-bottom: 20px;
    margin: 20px;

    

 }

 .lightbox li {
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);     
}
  

img:hover {
  
  box-shadow: 0 0 15px rgba(0,0, 0, .7);
 

}






/*************

ABOUT
***************/

.wrapped {
  max-width: 1060px;
  margin: auto;
}

.drawing {
  text-align: center;
  background-size: cover;
  background-image: url('../img/Thakor_about.jpg');
  background-repeat:  no-repeat; 
  background-position: center;
  overflow: hidden;
  width: 80%;
  margin-top: 230px;
  border: 2.5px solid white;
  padding-top:  370px;
  border-radius: 10px;
    box-shadow: 0 0 8px 10px white inset; 

  /*width: 100%;
  margin-top: 230px;
  border: 2.5px solid white;
  padding-top:  600px;*/
  }


/* Footer styles */

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
  clear: both;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
  color: grey;
  font-weight: ;
}

footer .copyright a {
  color: grey;
  font-weight: bold;
}

footer .copyright a:hover{
   color: black;
}



a.social {
  display: inline-block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 1;
  transition: all .5s;
  background-color: #708090;
  margin-top: 50px;
}

a.social:hover {
  opacity: 1;
   background-color: #708090;
  border-radius: 50%;
}

.clearfix {
  clear: both;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;


}







/************************ 
MEDIA QUERIES 
*************************/

@media screen and (min-width: 534px){ 

  .lightbox img {
   /*max-width: 100%;*/
   border: 1px solid white;
   transition-property: box-shadow;
   transition-duration:  .4s;
   margin-bottom: 30px;
   margin-left: 30px;
   float: left;

 }


@media screen and (min-width: 550px) {

  .nav li {
    display: inline-block;
  }
 
 .nav li a{
  padding: 10px 10px 10px 10px;
  width: 160px;
  border: 1px grey solid;
  border-radius: 10px;
  margin-bottom: 10px;
  list-style: none;
}


.thakor {
  float: left;
  padding-top: 8px;
  margin-left: 20px;
}

.nav {
  padding-top: 8px;
  float: right;
  margin-right: 20px;
}

  .main-nav {
  width: 100%;
  padding: 10px;
  position: fixed;
  text-align: center;
  margin-top: -160px;
  height: 100px;
  
}

.main-nav3 {

    margin-top: -110px;

}

/*about page*/
.drawing {
  width: 80%;
  border: 2.5px solid white;
  padding-top:  400px;
  margin-top: 110px;
}

.nav li {
  padding-right: 5px;
   padding-left: 5px;
}


.header {
  max-width: 960px;
  height: 450px;
  margin-top: 110px;
  padding: 10px;   
}

.header_inner {

}



.header2 {
  margin-top: 100px;
  border-bottom: 1px solid green;
   
}

.header2 p{
  padding: 80px;
}

.profile_img {
 
   width: 170px;
  height: 170px;
  margin-top: 70px;
  border: 2px solid white;
 
}


  }

  @media screen and (min-width: 601px) {

    /***About****/

 .wrapped {
  margin-top: 100px;
 
 }

 .main-nav3{
  border-bottom: 2px solid grey;
 }

 .drawing {
  text-align: center;
  background-size: cover;
  background-repeat:  no-repeat; 
  background-position: center;
  overflow: hidden;
  width: 50%;
  margin-top: 20px;
  padding-top:  500px;
  float: left;
  margin-left: 20px;
  border-radius: 10px;

  }

.header3 {
  width: 45%;
  margin-top: 20px;
  border-bottom: 1px solid green;  
  float: right;
  margin-right: 5px;
  background-color: green;
}

.header3 p{
  padding: 10px;
}



    /*********************
Gallery
**********************/

.lightbox li {
    display: inline-block;
 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 6%;
    width: 40%;
    height: 50%;
    background-color: rgba(0,0,0,0.06);
     border-radius: 10px;
    
}

.lightbox img {
   width: 85%;
   height: 200px;
}



.nature {
  margin-top: 10px;
  margin-left: 40px;
  color: #696969;
  font-family: 'kalam', sans-serif; 
}

.inter {
  margin-bottom: 5px;
}

  .main-nav {
  width: 100%;
  padding: 10px;
  position: fixed;
  text-align: center;
  margin-top: -110px;
  height: 100px;
 
}

  }


@media screen and (min-width: 765px) {

/*******************
 
 Gallery

 ********************/


.galleryTitle{
  float: left;
  margin-left: 50px;
  margin-top: 65px;
  color: #4b0082;
  font-size: 2em;

}

.nav2 {
  height: 80px;
  background-color: white;
}

.field {
 
  height: 80px;
}

.lightbox li {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 37px;
    width: 28%;
    height: 50%;
    background-color: rgba(0,0,0,0.1);     
}

.lightbox li:nth-child(3) {

  padding-top: 1.2%;

}

 .drawing {
  text-align: center;

  background-size: cover;
  background-repeat:  no-repeat; 
  background-position: center;
  

}



/***************************

OVERLAY
****************************/
#overlay img {
  max-height: 50vh;
  max-width: 80%;
  border: 2px solid  white;
  margin-top: 10%;
}


}








