/* Global Layout Set-up */
* {
  box-sizing: border-box;
   max-width: 1600px;
    margin: 0 auto;
}

body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
  background: #ecc363;
 

}

/* Link Styles */

a {
  text-decoration: none;
}

/*************

HOME PAGE
***************/



/*  Main Nav */


.main-nav {
  width: 100%;
  background: #ecc363;
 /* background: #f0f8ff;*/
  position: fixed;
  text-align: center;
  margin-top: -200px;
 /* border-bottom: 1px solid white;*/
  z-index: 1;
}


.main-nav:hover {
  border-bottom: 5px solid orange;
}

.nav li {
  list-style: none;
  border-radius: 10px;
  margin-bottom: 35px;
  margin-top: 15px;
}

.nav li a{
  padding: 10px 10px 10px 10px;
  border: 1px grey solid;
  border-radius: 10px;
  margin-bottom: 30px;
  list-style: none;
}

.nav li a:hover {
  background-color: #e6e6fa;
}

.nav a {
  color: black; 
  transition: all .5s;
  font-weight: bold;
}

.nav a:hover {
  color: #FFA500;
}

/* Card */

.card {
  background-color: #ecc363;
  color: black;
  padding: 20px 60px;
  max-width: 1050px;
}

/******************** 

HEADER
**********************/

.header {
  text-align: center;
  background-image: url('../img/main_profile.jpg');
  background-size: cover;
  background-repeat:  no-repeat; 
  background-position: center;
  overflow: hidden;
  height: 300px;
   max-width: 960px;
  margin-top: 200px;
  border-radius: 10px;
  border-bottom: 1px solid green;
  transition: 4s;
   box-shadow: 0 0 8px 10px white inset; 
/*  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/
}

.profile_img {
  border-radius: 100%;
   width: 130px;
  height: 130px;
  margin-top: 100px;
  border: 2px solid white;
  opacity: 1;
  transition: .5s;

}

  .profile_img:hover {
    transform: scale(1.2, 1.2);
    border: .05px solid orange;
  }

/*************

GALLERY 

*****************/
.under {
  padding-top: 50px;
}

.header2 {
  text-align: center;
  overflow: hidden;
  background-color: grey;
  height: 700px;
  margin-top: 200px;
   /*background-color: rgba(0, 0, 0, 0.1);*/
}

.header2 p{
  padding: 80px;
}

.header3 p{
  padding: 80px;
}



/*************

ABOUT
***************/

.header3 {
  text-align: center;
  overflow: hidden;
  background-color: green;
  height: 700px;
  margin-top: 200px;
   /*background-color: rgba(0, 0, 0, 0.1);*/
}

/* Footer styles */

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
  color: green;
  font-weight: bold;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  color: black;
}




a.social {
  display: inline-block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 1;
  transition: all .5s;
  background-color: #708090;
  margin-top: 50px;
}

a.social:hover {
  opacity: 1;
   background-color: #708090;
  border-radius: 50%;
}

.clearfix {
  clear: both;
}



/************************ 
MEDIA QUERIES 
*************************/

@media screen and (min-width: 550px) {

  .nav li {
    display: inline-block;
  }
 
 .nav li a{
  padding: 10px 10px 10px 10px;
  width: 160px;
  border: 1px grey solid;
  border-radius: 10px;
  margin-bottom: 10px;
  list-style: none;
}


.thakor {
  float: left;
  padding-top: 8px;
  margin-left: 20px;
}

.nav {
  padding-top: 8px;
  float: right;
  margin-right: 20px;
}

  .main-nav {
  width: 100%;
  padding: 10px;
  position: fixed;
  text-align: center;
  margin-top: -110px;
}


.nav li {
  padding-right: 5px;
   padding-left: 5px;
}


.header {
  max-width: 960px;
  height: 450px;
  margin-top: 110px;
  padding: 10px;   
}

.header_inner {

}



.header2 {
  /*height: 100vh;*/
  margin-top: 100px;
  border-bottom: 1px solid green;
   
}

.header2 p{
  padding: 80px;
}

.main-nav3{
  width: 100%;
  padding: 10px;
  position: fixed;
  text-align: center;
  border-bottom: 2px solid white;
  margin-top: -100px;
}

.header3 {
  height: 600px;
  margin-top: 100px;
  border-bottom: 1px solid green;  
}

.header3 p{
  padding: 80px;
}


.profile_img {
 
   width: 170px;
  height: 170px;
  margin-top: 70px;
  border: 2px solid white;
 
}

footer {

  margin-top: -80px;
  clear: both;
}

.footer_social {
float: right;
  clear: both;
  margin-right: 20px;

}

.copyright {
  float: left;
  clear: both;
  margin-top: -20px;
  margin-left: 20px;
  font-color: white;

}

/*footer p {
  transform: rotate(-90deg);
  position: relative;
  right: 100px;
  margin-bottom: -100px;
}*/


  }
